body {
  background: #161619;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 60px;
}

.h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #ffffff;
}

.a {
  color: #ffffff;
  text-decoration: none;
}

.button {
  background-color: #35b9c0;
  border: 0px solid #35b9c0;
  border-radius: 10px;
  color: rgb(255, 255, 255, 0.8);
  padding: 14px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.glow-button {
  color: #000000;
}

.glow-button:hover {
  color: #000000;
  box-shadow: 0 5px 15px rgb(53, 185, 192, 0.4);
}
